body {
    background-color: darkcyan;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(145, 148, 0);
}

img {
    height: 300px
    width 500px
    object-fit cover

}